body {
  direction: ltr;
}
.inner-body {
  direction: rtl;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.slider {
  background-color: green;
}
.slider .slider-mask {
  overflow: hidden;
}
.slider .slider-items-wrapper {
  white-space: nowrap;
  margin: 0 -0.51%;
}
.slider .slider-items-wrapper.sliding {
  -webkit-transition:-webkit-transform 2s ease;
  -moz-transition:-moz-transform 2s ease;
  -o-transition:-o-transform 2s ease;
  -ie-transition:-ie-transform 2s ease;
}
.slider .slider-items-wrapper .slider-item {
  padding: 0 0.5%;
  width: 19%;
  display: inline-block;
  vertical-align: top;
}
.slider .slider-items-wrapper .slider-item article > a {
  display: block;
}
.slider .slider-items-wrapper .slider-item figure > img {
  width: 100%;
  height: 100%;
}
.slider .slider-controls .slider-slide {
	display:block;
	width:25px;
	padding:3px 5px;
}
.slider .slider-controls .slider-forward {
	float:right;
}
.slider .slider-controls .slider-backward {
	float:left;
}
