body {
  direction: ltr;
}

.inner-body {
  direction: rtl;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
}

.slider .slider-mask {
  background:grey;
  overflow: hidden;
}

.slider .slider-items-outer-wrapper {
	margin: 0 0 0 0%;
}

.slider .slider-items-slidable {
  position: relative;
  white-space: nowrap;
}

.slider .slider-item {
  padding: 0 0 0 1.25%;
  width: 16%;
  display: inline-block;
  vertical-align: top;
}

.slider .slider-items-slidable .slider-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider .slider-controls .slider-slide {
	display:block;
	padding:3px 5px;
}

.slider .slider-controls .slider-forward {
	float:right;
}

.slider .slider-controls .slider-backward {
	float:left;
}
